header {
    min-height: 15vh;

}


main {
    min-height: 75vh;
background-color:lightblue;
}

.form-check {
    height: 10vh;
    width: 10vw;
    flex-wrap: wrap;
    display: flex;

}

.d-item {
    height: 50vh;
    width: 50vw;
}

.d-img {
    height: 50vh;
    width: 50vw;
    object-fit: cover;

}

.carousel-inner {
    display: flex;
    object-fit: cover;
}

.check-box {
    display: flex;
    align-items: center;

}

.favicon {
    display: contents;
    width: 5vw;
    height: 5vh;
    align-items: center;
    margin: 20%;
    justify-content: space-around;

}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
    height: auto;
    
    
    
    

    
}


 
footer {
    min-height: 10vh;

}

<div class="card" style="width: 18rem; ">
        <img src="https://i.postimg.cc/ZmD3Xf57/Korean-style.jpg" class="card-img-top" alt="cards2">
        <div class="card-body">
          <h5 class="card-title">Korean style</h5>
          <p class="card-text">Enjoy the best Korean dishes, with international chefs and awesome events
          </p>
          <a href="Details.html" class="btn btn-primary">Details</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://i.postimg.cc/GmHRkbNV/Jurassic-Park.jpg" class="card-img-top" alt="cards3">
        <div class="card-body">
          <h5 class="card-title">Jurassic Park</h5>
          <p class="card-text">Let's go meet the biggest dinosaurs in the paleontology museum.</p>
          <a href="Details.html" class="btn btn-primary">Details</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://i.postimg.cc/c4C2zXm8/Parisian-Museum.jpg" class="card-img-top" alt="cards4">
        <div class="card-body">
          <h5 class="card-title">Parisian Museum</h5>
          <p class="card-text">A unique tour in the city of lights, get to know one of the most iconic places </p>
          <a href="Details.html" class="btn btn-primary">Details</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://i.postimg.cc/KYD0jMf2/comicon.jpg" class="card-img-top" alt="cards5">
        <div class="card-body">
          <h5 class="card-title">Comicon</h5>
          <p class="card-text">For comic lovers, all your favourite characters gathered in one place. </p>
          <a href="Details.html" class="btn btn-primary">Details</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://i.postimg.cc/RZ9fH4Pr/halloween.jpg" class="card-img-top" alt="cards6">
        <div class="card-body">
          <h5 class="card-title">Halloween Night</h5>
          <p class="card-text">Come with your scariest costume and win incredible prizes</p>
          <a href="Details.html" class="btn btn-primary">Details</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://i.postimg.cc/PrMJ0ZMc/Metallica-in-concert.jpg" class="card-img-top" alt="cards7">
        <div class="card-body">
          <h5 class="card-title">Metallica in concert</h5>
          <p class="card-text">The only concert of the most emblematic band in the world.</p>
          <a href="Details.html" class="btn btn-primary">Details</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://i.postimg.cc/KvsSK8cj/Electronic-Fest.jpg" class="card-img-top" alt="cards7">
        <div class="card-body">
          <h5 class="card-title">Electronic Fest</h5>
          <p class="card-text">The best national and international DJs gathered in one place</p>
          <a href="Details.html" class="btn btn-primary">Details</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://i.postimg.cc/fyLqZY9K/10-K-for-life.jpg" class="card-img-top" alt="cards7">
        <div class="card-body">
          <h5 class="card-title">10K for life</h5>
          <p class="card-text">Come and exercise, improve your health and lifestyle.</p>
          <a href="Details.html" class="btn btn-primary">Details</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://i.postimg.cc/zv67r65z/15kny.jpg" class="card-img-top" alt="cards7">
        <div class="card-body">
          <h5 class="card-title">15K NY</h5>
          <p class="card-text">We'll be raising funds for hospitals and medical care in this unique event held in The Big Apple</p>
          <a href="Details.html" class="btn btn-primary">Details</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://i.postimg.cc/Sst763n6/book1.jpg" class="card-img-top" alt="cards7">
        <div class="card-body">
          <h5 class="card-title">School's book fair</h5>
          <p class="card-text">Bring your unused school book and take the one you need.</p>
          <a href="Details.html" class="btn btn-primary">Details</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://i.postimg.cc/05FhxHVK/book4.jpg" class="card-img-top" alt="cards7">
        <div class="card-body">
          <h5 class="card-title">Just for your kitchen</h5>
          <p class="card-text">If you're a gastronomy lover come get the cookbook that best suits your taste and your family's.</p>
          <a href="Details.html" class="btn btn-primary">Details</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://i.postimg.cc/vH52y81C/cinema4.jpg" class="card-img-top" alt="cards7">
        <div class="card-body">
          <h5 class="card-title">Batman</h5>
          <p class="card-text">Come see Batman fight crime in Gotham City.</p>
          <a href="Details.html" class="btn btn-primary">Details</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://i.postimg.cc/T3C92KTN/scale.jpg" class="card-img-top" alt="cards7">
        <div class="card-body">
          <h5 class="card-title">Avengers</h5>
          <p class="card-text">Marvel's Avengers Premier in 3d, the start of an epic saga with your favourite superheroes.</p>
          <a href="Details.html" class="btn btn-primary">Details</a>
        </div>
      </div>
      



