
header {
    min-height: 15vh;

}


main {
    min-height: 75vh;

}

.form-check {
    height: 10vh;
    width: 10vw;
    flex-wrap: wrap;
    display: flex;

}

.d-item {
    height: 50vh;
    width: 50vw;
}

.d-img {
    height: 50vh;
    width: 50vw;
    object-fit: cover;

}

.carousel-inner {
    display: flex;
    object-fit: cover;
}

.check-box {
    display: flex;
    align-items: center;

}

.favicon {
    display: contents;
    width: 5vw;
    height: 5vh;
    align-items: center;
    margin: 20%;
    justify-content: space-around;

}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
    height: auto;
  
}


 
footer {
    min-height: 10vh;

}
@media(max-width:575px) {
  body {
    background-color: lightblue;

  }
}
style{
@media (min-width: 576px) {
  body {
    background-color: blue;

  }
}

@media (min-width: 768px) {
  body {
    background-color: lightblue;

  }
}

@media (min-width: 992px) {
  body {
    background-color: blue;

  }
}

@media (min-width: 1200px) {
  body {
    background-color: lightblue;

  }
}

@media (min-width: 1400px) {
  body {
    background-color: blue;

  }
}
}